<div class="col-lg-12">
  Add Event
</div>

<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-6">
      <%= form.label :event %>:
    </div>
    <div class="col-lg-6">
      <%= form.select :event, @events.collect { |e| [e.name, e.id] }, { include_blank: true }, class: 'form-control' %>
    </div>
  </div>
</div>
